$font-size-base: 16px;

// Fonts
$font-face-default: 'Museo Sans Cyrl', Arial, sans-serif;
$font-face-headings: 'TT Norms', Arial, sans-serif;

$font-weight-default: 300;
$font-weight-medium: 500;

// Grid
$grid-max-width: 1300px;
$grid-min-width: 320px; 

// Colors
$color-grey-5: #E5E5E5;

$background-color: $color-grey-5 !default;
