.comparison-section-diagram {
  margin: 0 auto;
  background: #ececf4;
  border-radius: 50%;
  display: block;

  &-wrapper {
    position: relative;
  }

  &-title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: -0.4000000059604645px;
    line-height: 120px;
    background-clip: text;
    color: transparent;
    text-align: center;
    filter: invert(1) grayscale(1) contrast(9);
  }

  &__chart {
    fill: #ececf4;
    stroke: #567df4;
    transition: stroke-dasharray 0.3s ease;
  }
}
