.modal {
  //
}

.upload-modal {
  &-row {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -12px;
    margin-right: -12px;

    > * {
      background: #fff;
      border: 1px solid #ececf4;
      border-radius: 20px;
      padding: 30px;
    }
  }

  &-dropzone-col {
    width: 50%;
    margin-left: 12px;
    margin-right: 12px;
  }

  &-disclaimer-col {
    width: 50%;
    margin-left: 12px;
    margin-right: 12px;
  }
}

.info-modal {
  &-results {
    color: #000;

    font-size: 26px;
    font-family: 'Museo Sans Cyrl', Arial, sans-serif;

    text-align: center;

    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &-results-button {
    margin-top: 30px;
  }
}

.login-modal {
  margin: 55% auto;
  &-logo {
    width: 50px;
    margin: 0 auto;
  }

  &-backdrop {
    background-color: #567df4 !important;
  }
}
