.mvp-01-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto 0;
}

.mvp-01-welcome {
  max-width: 1000px;
  margin: auto;
}

.mvp-01-welcome-button {
  min-width: 205px;
}

.mvp-01-welcome-content {
  margin-bottom: 30px;
}