.form-wrapper {
  padding: 0 50px;
  width: 800px;

  &__title {
    text-align: center;
    border-bottom: 0;
    font-weight: 500;
    font-size: 26px;
    color: #000;
    position: relative;
    font-family: 'Museo Sans Cyrl', Arial, sans-serif;
  }

  &__content {
    margin-top: 60px;
    color: #242232;
    font-family: 'TT Norms', Arial, sans-serif;
  }
}
