.header-section {
  &-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(assets/background-spot.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 20% 0;
    height: calc(100vh - 80px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
  }

  &-title {
    max-width: 760px;
    color: #000000;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px;
    letter-spacing: -0, 03em;
    text-align: center;
    margin-bottom: 60px;
  }

  &-description {
    max-width: 660px;
    color: #000000;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 45px;
  }
}

.continue-button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #eff2f6;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease-in-out 200ms;
  margin-bottom: 20px;

  &:hover {
    background-color: #dadee2;
  }
}
