.form {
  &-select {
    width: 100%;
  }
}

.login-form-wrapper {
  width: 440px;
}

.login-form-title-wrapper {
  display: flex;
  justify-content: center;
}

.login-form {
  margin-top: 60px;

  &-logo {
    width: 50px;
    margin: -10px;
  }
  .form-footer {
    margin-top: 28px;
  }

  .rs-form-group .rs-input,
  .rs-form-control-wrapper {
    width: 100%;
  }
}
