.footer {
  height: 85px;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  z-index: 0;
}

.footer-copyright {
  font-family: 'TT Norms', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #656564;
}